extends base.pug

block style
    style
        include ../static/css/base.css
        include ../static/css/about.css

block content
    div.heading
        h1 About me .
        i.fa-solid.fa-user.icon
    div.aboutme
        div.passion
            h2 FrontEnd Web Developer & Designer
            p Hello, I'm Ravi Panchal, a passionate and creative front-end web developer and designer with a diverse background in mechanical engineering. I bring a unique blend of technical and design expertise to my work, and I'm dedicated to crafting seamless, user-friendly digital experiences.
            p After earning my bachelor's degree in mechanical engineering, I discovered my love for web development and design. I embarked on a journey to master the art of creating captivating and interactive websites. Since then, I've dedicated myself to honing my skills and have completed several projects that showcase my abilities.
            p My background in engineering has equipped me with project management skills, ensuring that I deliver projects on time and within scope.
        div.personalInfo
            h2 Personal Information
            div.contact
                ul
                    li #[span Name] : Ravi Panchal
                    li #[span Age] : 22 years
                    li #[span Residence] : MadhyaPradesh, India
                    li #[span Address] : sanwer, Indore
                    li #[span Email] : Ravipanchal9977@gmail.com
                    li #[span Phone] : +91 99771-01024
            a(href="../../static/img/Ravi_Panchal.pdf", download).btn Download Resume
    div.servicesection
     h3.sectionHeading SERVICES
     div.services
        div.servicebox
            i.fa-solid.fa-laptop-code.serviceIcon
            h4 Web development
            p Transforming your ideas into functional, high-performance websites is my passion. I specialize in building robust and scalable web applications.
        div.servicebox
            i.fa-solid.fa-paintbrush.serviceIcon
            h4 Web design
            p I craft visually appealing user interfaces that captivate your audience while ensuring ease of navigation. Every design is a blend of aesthetics and usability.
        div.servicebox
            i.fa-solid.fa-desktop.serviceIcon
            h4 Responsive webpages
            p In today's mobile-driven world, a seamless experience across all devices isnon-negotiable. I specialize in creating fully responsive web pages that adapt gracefully to various screen sizes.
    //- div.clients
    //-     h3.sectionHeading CLIENTS
    //-     div.client
    //-         li.clientIcon #[img(src="../static/img/client1.png")]
    //-         li.clientIcon #[img(src="../static/img/client2.png")]
    //-         li.clientIcon #[img(src="../static/img/client3.png")]
    //-         li.clientIcon #[img(src="../static/img/client4.png")]
    //- div.testimonials
    //-     h3.sectionHeading TESTIMONIALS
    //-     div.testimonial
    //-         div.testimonial-box
    //-             img(src="../static/img/t1.jpg", alt="")
    //-             h5.names John Micky
    //-             p India, officially the Republic of India, is a country in South Asia. Itis the seventh-largest country by area; the most populous country as of June 2023;
    //-         div.testimonial-box
    //-             img(src="../static/img/t2.jpg", alt="")
    //-             h5.names John Micky
    //-             p India, officially the Republic of India, is a country in South Asia. Itis the seventh-largest country by area; the most populous country as of June 2023;
    //-         div.testimonial-box
    //-             img(src="../static/img/t3.jpg", alt="")
    //-             h5.names John Micky
    //-             p India, officially the Republic of India, is a country in South Asia. Itis the seventh-largest country by area; the most populous country as of June 2023;
    //-         div.testimonial-box
    //-             img(src="../static/img/t4.jpg", alt="")
    //-             h5.names John Micky
    //-             p India, officially the Republic of India, is a country in South Asia. Itis the seventh-largest country by area; the most populous country as of June 2023;