extends base.pug

block style
    style
        include ../static/css/base.css
        include ../static/css/about.css

block content
    div.aboutcontainer
        div.heading
            h1 About me .
            i.fa-solid.fa-user.icon
        div.aboutme
            div.passion
                h2 UX/I+UI Designer & Web Developer
                p Dolor reprehenderit aut repudiandae maiores recusandae. Consequatur dolor nisi labore commodi ipsa? Excepturi velit laboriosam at voluptatibus cupiditate est vel. Dolorem praesentium itaque fugiat placeat quas consequatur? Obcaecati natus rerum

            div.personalInfo
                h2 Personal Information
                div.contact
                    ul
                        li #[span Name] : Ravi Panchal
                        li #[span Age] : 22 years
                        li #[span Residence] : MadhyaPradesh, India
                        li #[span Address] : sanwer, Indore
                        li #[span Email] : Ravipanchal9977@gmail.com
                        li #[span Phone] : +91 9977101024
                button.btn Download Resume
        div.servicesection
         h3.sectionHeading SERVICES
         div.services
            div.servicebox
                i.fa-solid.fa-user.serviceIcon
                h4 Web development
                p Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis     provident aut libero
            div.servicebox
                i.fa-regular.fa-eye.serviceIcon
                h4 Web design
                p Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis     provident aut libero
            div.servicebox
                i.fa-solid.fa-desktop.serviceIcon
                h4 Responsive webpages
                p Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero
        div.clients
            h3.sectionHeading CLIENTS
            div.client
                li.clientIcon #[img(src="../static/img/client1.png")]
                li.clientIcon #[img(src="../static/img/client2.png")]
                li.clientIcon #[img(src="../static/img/client3.png")]
                li.clientIcon #[img(src="../static/img/client4.png")]
        div.testimonials
            h3.sectionHeading TESTIMONIALS
            div.testimonial
                div.testimonial-box
                    img(src="../static/img/t1.jpg", alt="")
                    h5.names John Micky
                    p India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023;
                div.testimonial-box
                    img(src="../static/img/t2.jpg", alt="")
                    h5.names John Micky
                    p India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023;
                div.testimonial-box
                    img(src="../static/img/t3.jpg", alt="")
                    h5.names John Micky
                    p India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023;
                div.testimonial-box
                    img(src="../static/img/t4.jpg", alt="")
                    h5.names John Micky
                    p India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023;