doctype html
html
  head
    title #{title}
    link(rel='icon',type='image/x-icon', sizes='16x16 32x32 48x48 64x64', href='../../static/img/favicon.ico')
    block style
        style
            include ../static/css/base.css
    
  body
    nav.navbar
        div.profile
            img(src="../static/img/myprofile.png", alt="Ravi Panchal")
        div.navigation
            ul#myDIV.navMenu
                li
                    a.link(href="/")
                        i(class="fa-solid fa-house")
                        |Home
                li
                    a.link(href="/about")
                        i(class="fa-solid fa-user")
                        |About Me
                li
                    a.link(href="/resume")
                        i(class="fa-solid fa-id-card")
                        |Resume
                li
                    a.link(href="/portfolio")
                        i(class="fa-solid fa-briefcase")
                        |Portfolio
                li
                    a.link(href="/blog")
                        i(class="fa-solid fa-book")
                        |Blog
                li
                    a.link(href="/contact")
                        i(class="fa-solid fa-envelope")
                        |Contact
        div.foot
            div.social
                li.icon
                    a(href="https://twitter.com/Ravi_Panchal0", target="_blank")
                        i(class="fa-brands fa-x-twitter")
                li.icon
                    a(href="https://www.facebook.com/profile.php?id=100006394922280", target="_blank")
                        i(class="fa-brands fa-facebook")
                li.icon
                    a(href="https://www.instagram.com/royal_indori_r.p/", target="_blank")
                        i(class="fa-brands fa-instagram")
                li.icon
                    a(href="https://github.com/Ravipanchal0/", target="_blank")
                        i(class="fa-brands fa-github")

            div.copyright
                p Copyright &copy; 2023 Ravi Panchal
                p All Right Reserve.
    div.container
        block content

    block scripts
        script(src="https://kit.fontawesome.com/fe1b9c3ff1.js" crossorigin="anonymous")
        script(src='../static/index.js')