extends base.pug

block style
    style
        include ../static/css/base.css
        include ../static/css/blog.css


block content
    div.blogContainer
        div.heading
            h1 My Blog .
            i.fa-solid.fa-book.icon
        div.main
            h1.show Sorry ! Work in Progress, we are trying to our best..
