extends base.pug

block style
    style
        include ../static/css/base.css
        include ../static/css/contact.css


block content
    div.contactContainer
        div.heading
            h1 Contact Me .
            i.fa-solid.fa-envelope.icon
        div.main
            h1.show Sorry ! Work in Progress, we are trying to our best..
