extends base.pug
    
block style
  style
    include ../static/css/base.css
    include ../static/css/home.css

block content
  div.homecontainer
    h1 Ravi #[span(id="panchal") Panchal]
    div.slogan I am a 
      div.element Web Developer & Designer