extends base.pug

block style
    style
        include ../static/css/base.css
        include ../static/css/portfolio.css


block content
    div.heading
        h1 My Portfolio .
        i.fa-solid.fa-briefcase.icon
    div.main
        h1.show Sorry ! Work in Progress, we are trying to our best..
