@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Balsamiq+Sans:wght@400;700&family=Bree+Serif&family=Kreon:wght@300;400;500&family=Manrope&family=Merriweather+Sans:wght@300;400;500&family=Merriweather:wght@300;400&family=Nunito+Sans:wght@300;400;500;600;700;800;900&family=Nunito:wght@300;400;500&family=Open+Sans&family=Playpen+Sans:wght@400;600;700&family=Poppins:wght@300;400;600&family=Roboto+Slab&family=Roboto:wght@300;400;500;700&family=Sono:wght@500&family=Source+Serif+4&family=Tilt+Neon&family=Ubuntu&display=swap");
:root {
  --primary-color: #00a2e0;
  --bg-primary: #2c2d2f;
  --text-color: #9e9fa0;
}
.aboutcontainer {
  position: relative;
  background-color: var(--bg-primary);
  min-height: 100vh;
  color: white;
  padding: 20px;
}
.aboutcontainer .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  color: var(--primary-color);
  border-bottom: 3px solid #3d3e3e;
  border-bottom-style: dashed;
}
.aboutcontainer .heading h1 {
  font-size: 3rem;
  font-family: "Alegreya", serif;
}
.aboutcontainer .heading .icon {
  font-size: 3rem;
  animation: bubbling 0.7s alternate infinite;
}
@keyframes bubbling {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
.aboutme {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.aboutme .passion {
  max-width: 50%;
}
.aboutme .passion h2 {
  margin-bottom: 5px;
}
.aboutme .passion p {
  margin-left: 16px;
  color: #e0e0e0;
}

.aboutme .personalInfo {
  max-width: 26%;
}

.aboutme .personalInfo .contact {
  margin: 8px 0 25px 0;
}
.aboutme .personalInfo .contact ul {
  display: flex;
  flex-direction: column;
}
.aboutme .personalInfo .contact ul li {
  list-style: none;
  padding: 7px 0;
  font-size: 18px;
}
.aboutme .personalInfo .contact ul li span {
  font-weight: 500;
  border-bottom: 2px solid var(--primary-color);
}
.services,
.client {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.servicesection .services .servicebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 0 21px;
  width: 26%;
}
.servicesection .services .servicebox .serviceIcon {
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}
.servicesection .services .servicebox h4 {
  font-size: 22px;
}
.servicesection .services .servicebox p {
  font-size: 18px;
  color: var(--text-color);
}
.clients {
  margin: 60px 0;
}
.client li {
  list-style: none;
}
.client li img {
  width: 150px;
  opacity: 0.7;
  cursor: pointer;
}
.client li img:hover {
  opacity: 1;
}
.testimonial {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.testimonial-box {
  width: 275px;
  height: 378px;
  padding: 8px 16px;
  background-color: #00141d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 0px 3px rgb(0, 0, 23);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.testimonial-box img {
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 20px;
}
.testimonial-box h5 {
  font-size: 23px;
  font-family: "Ubuntu", sans-serif;
}
.testimonial-box p {
  font-size: 14px;
  color: #9e9fa0;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
}
.testimonial-box:hover {
  transform: scale(1.1);
}
