:root {
  --primary-color: #00a2e0;
  --bg-primary: #272829;
  --text-color: #9e9fa0;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  color: var(--primary-color);
  border-bottom: 3px solid #3d3e3e;
  border-bottom-style: dashed;
}
.heading h1 {
  font-size: 3rem;
  font-family: "Alegreya", serif;
}
.heading .icon {
  font-size: 3rem;
  animation: bubbling 0.7s alternate infinite;
}
@keyframes bubbling {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
.aboutme {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.aboutme .passion {
  max-width: 60%;
}
.aboutme .passion h2 {
  margin-bottom: 8px;
  font-size: 30px;
  font-family: "Bree Serif", serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.aboutme .passion p {
  margin-left: 16px;
  color: #e0e0e0;
  font-size: 17px;
  text-align: justify;
  font-style: italic;
}

.aboutme .personalInfo {
  max-width: 26%;
}
.aboutme .personalInfo h2 {
  font-family: "Bree Serif", serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.aboutme .personalInfo .contact {
  margin: 8px 0 25px 0;
}
.aboutme .personalInfo .contact ul {
  display: flex;
  flex-direction: column;
}
.aboutme .personalInfo .contact ul li {
  list-style: none;
  padding: 7px 0;
  font-size: 18px;
}
.aboutme .personalInfo .contact ul li span {
  font-weight: 500;
  border-bottom: 2px solid var(--primary-color);
}
.services,
.client {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.servicesection {
  margin: 60px 0;
}
.servicesection .services .servicebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 0 37px;
}
.servicesection .services .servicebox .serviceIcon {
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}
.servicesection .services .servicebox h4 {
  font-size: 22px;
  margin-bottom: 8px;
  letter-spacing: 1px;
  font-weight: 600;
}
.servicesection .services .servicebox p {
  font-size: 17px;
  color: var(--text-color);
  text-align: justify;
}
.clients {
  margin: 60px 0;
}
.client li {
  list-style: none;
}
.client li img {
  width: 150px;
  opacity: 0.7;
  cursor: pointer;
}
.client li img:hover {
  opacity: 1;
}
.testimonial {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.testimonial-box {
  width: 275px;
  height: 378px;
  padding: 8px 16px;
  background-color: #00141d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 0px 3px rgb(0, 0, 23);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.testimonial-box img {
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 20px;
}
.testimonial-box h5 {
  font-size: 23px;
  font-family: "Ubuntu", sans-serif;
}
.testimonial-box p {
  font-size: 14px;
  color: #9e9fa0;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
}
.testimonial-box:hover {
  transform: scale(1.1);
}
